<header class="grid-header">
  <h1 class="grid-title">
    <a href="http://purecss.io/" target="_blank">Pure Grid</a>
  </h1>
</header>

<section class="grid-container">
  <h2>Not Responsive</h2>
  <div class="pure-g">
    <div class="pure-u-1-4">{{> organisms-card-block }}</div>
    <div class="pure-u-1-4">{{> organisms-card-block }}</div>
    <div class="pure-u-1-4">{{> organisms-card-block }}</div>
    <div class="pure-u-1-4">{{> organisms-card-block }}</div>
    <div class="pure-u-1-4">{{> organisms-card-block }}</div>
    <div class="pure-u-1-4">{{> organisms-card-block }}</div>
  </div>
</section>

<section class="grid-container">
  <h2>Responsive</h2>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4">{{> organisms-card-block }}</div>
    <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4">{{> organisms-card-block }}</div>
    <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4">{{> organisms-card-block }}</div>
    <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4">{{> organisms-card-block }}</div>
    <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4">{{> organisms-card-block }}</div>
    <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4">{{> organisms-card-block }}</div>
  </div>
</section>

<footer class="grid-footer">
  <h2>Thoughts</h2>

  <p>Out of the box the grid system was easy to setup and use... until I realized it wasn't responsive out of the box. You need to include a second stylesheet to make it squishy. Then you need to use a whole new set of classes that correspond with preset break points. If you forget what their breakpoints are this can get confusing. Then if you need a new breakpoint you have to create your own custom grid which I didn't really dive into.</p>

  <p>Once you figure out how the classes work together it is easy to use but it just seems overly complicated. Even though it is complicated and has a ton of classes it is nice to have complete control over how many columns display at certain break points. If you want to jump from 4 columns down to 2 columns you can do that. This also lets you "span multiple columns" easily.</p>

</footer>