<link rel="stylesheet" href="../../css/grids/skeleton.css" />

<header class="grid-header">
  <h1 class="grid-title">
    <a href="http://getskeleton.com/" target="_blank">Skeleton</a>
  </h1>
</header>

<section class="grid-container">
  <div class="row">
    <div class="three columns">{{> organisms-card-block }}</div>
    <div class="three columns">{{> organisms-card-block }}</div>
    <div class="three columns">{{> organisms-card-block }}</div>
    <div class="three columns">{{> organisms-card-block }}</div>
  </div>
  <div class="row">
    <div class="three columns">{{> organisms-card-block }}</div>
    <div class="three columns">{{> organisms-card-block }}</div>
    <div class="three columns">{{> organisms-card-block }}</div>
    <div class="three columns">{{> organisms-card-block }}</div>
  </div>
  <div class="row">
    <div class="three columns">{{> organisms-card-block }}</div>
    <div class="three columns">{{> organisms-card-block }}</div>
    <div class="three columns">{{> organisms-card-block }}</div>
    <div class="three columns">{{> organisms-card-block }}</div>
  </div>
</section>

<footer class="grid-footer">
  <h2>Thoughts</h2>

  <p>Another grid that would be better used for layouts only. Each row has to be wrapped in a container element which means elements can't wrap to the next line. This grid jumps from one column to four columns 550px which means that from 550px until about 930px the cards look squished.</p>

  <p>This one is part of a really simple framework who's stylesheet is 369 lines of code. They attempted to make things easy to read, such as you use the class column with the class one but columns with everything else. They also have common "fraction" classes such as one-half and two-thirds even though classes six and eight do the same thing.</p>

  <p>Their naming method tripped me up at first. I wanted four columns so I used the class four but that actually gave me 3 columns that span 4. I had to take a second to do the math in my head even though I've used similar systems in the past.</p>
</footer>