<link rel="stylesheet" href="../../css/grids/bootstrap.css" />

<header class="grid-header">
  <h1 class="grid-title">
    <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>
  </h1>
</header>

<section class="grid-container">
  <h2>Everything in rows</h2>
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3">{{> organisms-card-block }}</div>
    <div class="col-sm-6 col-md-4 col-lg-3">{{> organisms-card-block }}</div>
    <div class="col-sm-6 col-md-4 col-lg-3">{{> organisms-card-block }}</div>
    <div class="col-sm-6 col-md-4 col-lg-3">{{> organisms-card-block }}</div>
    <div class="col-sm-6 col-md-4 col-lg-3">{{> organisms-card-block }}</div>
    <div class="col-sm-6 col-md-4 col-lg-3">{{> organisms-card-block }}</div>
  </div>
</section>

<footer class="grid-footer">
  <h2>Thoughts</h2>

  <p>I was able to use Bootstraps customizer to grab just the grid styles. It is similar to Foundation's customizer but with a crap ton more options. Another thing similar to the Foundation grid I was given styles that overrode my page styles. They just aren't needed.</p>

  <p>Just like with the Skeleton theme, the naming convention threw me off. It was even more so confusing when I had to think of how many columns needed to be spanned for smaller views.</p>
</footer>