//Colors

$c-teal: #407074;
$c-gray: #7F8579;
$c-gray-light: #efefef;
$c-white: #fff;

//Typography

$f-copy: Helvetica, Arial, sans-serif;

//Elements
$spacer-lg: 15px;
$spacer-sm: 5px;
$rounded: 3px;