&lt;link rel=&quot;stylesheet&quot; href=&quot;../../css/grids/bootstrap.css&quot; /&gt;

&lt;header class=&quot;grid-header&quot;&gt;
  &lt;h1 class=&quot;grid-title&quot;&gt;
    &lt;a href=&quot;http://getbootstrap.com/&quot; target=&quot;_blank&quot;&gt;Bootstrap&lt;/a&gt;
  &lt;/h1&gt;
&lt;/header&gt;

&lt;section class=&quot;grid-container&quot;&gt;
  &lt;h2&gt;Everything in rows&lt;/h2&gt;
  &lt;div class=&quot;row&quot;&gt;
    &lt;div class=&quot;col-sm-6 col-md-4 col-lg-3&quot;&gt;{{&gt; organisms-card-block }}&lt;/div&gt;
    &lt;div class=&quot;col-sm-6 col-md-4 col-lg-3&quot;&gt;{{&gt; organisms-card-block }}&lt;/div&gt;
    &lt;div class=&quot;col-sm-6 col-md-4 col-lg-3&quot;&gt;{{&gt; organisms-card-block }}&lt;/div&gt;
    &lt;div class=&quot;col-sm-6 col-md-4 col-lg-3&quot;&gt;{{&gt; organisms-card-block }}&lt;/div&gt;
    &lt;div class=&quot;col-sm-6 col-md-4 col-lg-3&quot;&gt;{{&gt; organisms-card-block }}&lt;/div&gt;
    &lt;div class=&quot;col-sm-6 col-md-4 col-lg-3&quot;&gt;{{&gt; organisms-card-block }}&lt;/div&gt;
  &lt;/div&gt;
&lt;/section&gt;

&lt;footer class=&quot;grid-footer&quot;&gt;
  &lt;h2&gt;Thoughts&lt;/h2&gt;

  &lt;p&gt;I was able to use Bootstraps customizer to grab just the grid styles. It is similar to Foundation's customizer but with a crap ton more options. Another thing similar to the Foundation grid I was given styles that overrode my page styles. They just aren't needed.&lt;/p&gt;

  &lt;p&gt;Just like with the Skeleton theme, the naming convention threw me off. It was even more so confusing when I had to think of how many columns needed to be spanned for smaller views.&lt;/p&gt;
&lt;/footer&gt;