&lt;header class=&quot;grid-header&quot;&gt;
  &lt;h1 class=&quot;grid-title&quot;&gt;
    &lt;a href=&quot;http://purecss.io/&quot; target=&quot;_blank&quot;&gt;Pure Grid&lt;/a&gt;
  &lt;/h1&gt;
&lt;/header&gt;

&lt;section class=&quot;grid-container&quot;&gt;
  &lt;div class=&quot;pure-g&quot;&gt;
    &lt;div class=&quot;pure-u-1-4&quot;&gt;{{&gt; organisms-card-block }}&lt;/div&gt;
    &lt;div class=&quot;pure-u-1-4&quot;&gt;{{&gt; organisms-card-block }}&lt;/div&gt;
    &lt;div class=&quot;pure-u-1-4&quot;&gt;{{&gt; organisms-card-block }}&lt;/div&gt;
    &lt;div class=&quot;pure-u-1-4&quot;&gt;{{&gt; organisms-card-block }}&lt;/div&gt;
    &lt;div class=&quot;pure-u-1-4&quot;&gt;{{&gt; organisms-card-block }}&lt;/div&gt;
    &lt;div class=&quot;pure-u-1-4&quot;&gt;{{&gt; organisms-card-block }}&lt;/div&gt;
  &lt;/div&gt;
&lt;/section&gt;

&lt;footer class=&quot;grid-footer&quot;&gt;
  &lt;h2&gt;Thoughts&lt;/h2&gt;

  &lt;p&gt;Liquorice macaroon carrot cake cotton candy gummies dessert danish. Caramels marshmallow bear claw jelly beans biscuit. Danish danish candy. Souffl&eacute; pie chupa chups cheesecake. Gummies pastry jelly-o. Pie danish fruitcake topping fruitcake donut. Fruitcake toffee cake marshmallow apple pie brownie pudding jelly beans donut. Cheesecake toffee biscuit. Croissant gummi bears wafer dessert cookie jelly. Jelly beans wafer croissant sesame snaps fruitcake gummi bears sweet roll cake. Danish halvah cake cotton candy muffin marshmallow halvah jelly. Liquorice candy canes biscuit chocolate jelly.&lt;/p&gt;

&lt;/footer&gt;